In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [4]:
dates=pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
#生成dataframe
a=['a','b','c','d']
df=pd.DataFrame(np.random.randn(6, 4),index=dates,columns=a)
df

                   a         b         c         d
2013-01-01 -0.880807  1.104022 -1.312711 -0.464576
2013-01-02 -0.537763 -0.476497 -0.462590  0.149695
2013-01-03 -0.303394 -0.549754 -1.409840 -0.468032
2013-01-04 -0.504912  0.623230 -0.030378  0.235056
2013-01-05 -0.146998 -0.081757  2.183369 -1.116807
2013-01-06  0.584831 -0.156392 -0.008075  0.871734

In [7]:
df2=pd.DataFrame({'A':1,
                 'B':pd.Timestamp('20130102'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4,dtype='int32'),
                 'E':pd.Categorical(["test", "train", "test", "train"]),
                 'F':'foo'})
df2

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [8]:
#查看df的头部和尾部
df.head()
df.tail(3)

                   a         b         c         d
2013-01-04 -0.504912  0.623230 -0.030378  0.235056
2013-01-05 -0.146998 -0.081757  2.183369 -1.116807
2013-01-06  0.584831 -0.156392 -0.008075  0.871734

In [11]:
#显示索引与列名
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
#显示列名
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
#快速查看数据的统计摘要
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean  -0.298174  0.077142 -0.173371 -0.132155
std    0.498434  0.652993  1.304806  0.694972
min   -0.880807 -0.549754 -1.409840 -1.116807
25%   -0.529550 -0.396471 -1.100181 -0.467168
50%   -0.404153 -0.119074 -0.246484 -0.157441
75%   -0.186097  0.446983 -0.013651  0.213716
max    0.584831  1.104022  2.183369  0.871734

In [14]:
#转置数据
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
a   -0.880807   -0.537763   -0.303394   -0.504912   -0.146998    0.584831
b    1.104022   -0.476497   -0.549754    0.623230   -0.081757   -0.156392
c   -1.312711   -0.462590   -1.409840   -0.030378    2.183369   -0.008075
d   -0.464576    0.149695   -0.468032    0.235056   -1.116807    0.871734

In [18]:
#按轴排序
df.sort_index(axis=1,ascending=False)

                   d         c         b         a
2013-01-01 -0.464576 -1.312711  1.104022 -0.880807
2013-01-02  0.149695 -0.462590 -0.476497 -0.537763
2013-01-03 -0.468032 -1.409840 -0.549754 -0.303394
2013-01-04  0.235056 -0.030378  0.623230 -0.504912
2013-01-05 -1.116807  2.183369 -0.081757 -0.146998
2013-01-06  0.871734 -0.008075 -0.156392  0.584831

In [21]:
#按值排序
df.sort_values(by='b')

                   a         b         c         d
2013-01-01 -0.880807  1.104022 -1.312711 -0.464576
2013-01-04 -0.504912  0.623230 -0.030378  0.235056
2013-01-05 -0.146998 -0.081757  2.183369 -1.116807
2013-01-06  0.584831 -0.156392 -0.008075  0.871734
2013-01-02 -0.537763 -0.476497 -0.462590  0.149695
2013-01-03 -0.303394 -0.549754 -1.409840 -0.468032

In [23]:
#选择单列，产生 Series，与 df.A 等效
df['a']
# df.a

2013-01-01   -0.880807
2013-01-02   -0.537763
2013-01-03   -0.303394
2013-01-04   -0.504912
2013-01-05   -0.146998
2013-01-06    0.584831
Freq: D, Name: a, dtype: float64

In [24]:
#用 [ ] 切片行
df[:2]

                   a         b         c         d
2013-01-01 -0.880807  1.104022 -1.312711 -0.464576
2013-01-02 -0.537763 -0.476497 -0.462590  0.149695

In [28]:
df.loc[dates[1],'b']

-0.47649666725641654

In [ ]:
#删除所有含缺失值的行
df1.dropna(how='any')

In [16]:
df

                   a         b         c         d
2013-01-01 -0.880807  1.104022 -1.312711 -0.464576
2013-01-02 -0.537763 -0.476497 -0.462590  0.149695
2013-01-03 -0.303394 -0.549754 -1.409840 -0.468032
2013-01-04 -0.504912  0.623230 -0.030378  0.235056
2013-01-05 -0.146998 -0.081757  2.183369 -1.116807
2013-01-06  0.584831 -0.156392 -0.008075  0.871734