In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
a=[]

In [17]:
df2=pd.DataFrame({'A':1,
                 'C':[1.0,2.0,3.0,4.0]})

In [18]:
df1=pd.DataFrame({'A':2,
                 'C':[3.0,4.0,5.0,6.0]})

In [19]:
df1

   A    C
0  2  3.0
1  2  4.0
2  2  5.0
3  2  6.0

In [20]:
df2

   A    C
0  1  1.0
1  1  2.0
2  1  3.0
3  1  4.0

In [21]:
pd.merge(df1,df2,on="C")

   A_x    C  A_y
0    2  3.0    1
1    2  4.0    1

In [25]:
df1[['A','C']]

   A    C
0  2  3.0
1  2  4.0
2  2  5.0
3  2  6.0

In [32]:
df2.count('C'==2.0)

A    4
C    4
dtype: int64

In [37]:
pow(3/(1/(0.67187179**3)+1/(0.98098689**3)+1/(2.05320777**3)),1/3)

0.875401417686134

In [38]:
pow(3/(1/(0.96187472**3)+1/(2.28900835**3)+1/(2.29932098**3)),1/3)

1.3251126656701973

In [39]:
pow(3/(1/(0.90104867**3)+1/(1.63956637**3)+1/(2.41423825**3)),1/3)

1.2168674306713183